.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

body {
  display: flex;
  flex-direction: column;
}

#top-part {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#default-div {
  width: 667.5px;
  display: flex;
  flex-direction: column;
}

#clock-div {
  height: 250px;
  text-shadow: rgb(80 80 80) -1px -1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.date {
  margin-top: 86px;
  bottom: 0;
  display: block;
  width: 400px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.clock {
  display: block;
  width: 400px;
  height: 160px;
  font-size: 150px;
  font-weight: 600;
  color: white;
}

#greeting-div {
  display: flex;
  padding-left: 250px;
  font-size: 30px;
  color: white;
  text-shadow: rgb(80 80 80) -1px -1px 1px;
  font-weight: 600;
}

#login-form,
#todo-div {
  width: 534px;
  height: 300px;
}

.login__input,
.todo__input {
  padding: 0px 10px 0px 10px;
  margin-top: 160px;
  width: 530px;
  height: 70px;
  border-style: none;
  border-radius: 4px;
  border-bottom: 3px solid black;
  opacity: 0.3;
  font-size: 20px;
  font-weight: 600;
}

.todo__list {
  padding: 0;
  width: 550px;
  height: 600px;
  list-style: none;
  overflow-y: scroll;
}

.todo__list > li {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.todo__list > li:hover {
  border-bottom: 5px solid white;
}

.todo__list > li > input {
  width: 20px;
  height: 20px;
}

.todo__list > li > input:checked + span {
  text-decoration: line-through;
  color: #fbfbdaa3;
}

.todo__list > li > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 20px 0px 20px;
  width: 100%;
  color: white;
  text-shadow: rgb(80 80 80) -1px -1px 1px;
  font-size: 20px;
  font-weight: 600;
}

.todo__list > li > button {
  border-style: none;
  width: 30px;
  background: none;
}

#weather-div {
  position: relative;
  width: 300px;
  height: 300px;
}

.weather-info {
  margin: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info__img {
  position: inherit;
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info__temp {
  padding-top: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.weather-city {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#quote-div {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-shadow: rgb(80 80 80) -1px -1px 1px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  margin-right: 50px;
}
